.profile-form {
  display: flex;
  flex-direction: column;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-div img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.main-div {
  width: 50%;
}

.name-div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.name-div input {
  width: 100%;
  font-size: 18px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.name-div label {
  font-size: 24px;
}

.submit-btn {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn button {
  font-size: 24px;
  border-radius: 8px;
  padding: 8px;
  border: none;
  background-color: yellow;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn button a {
  color: black;
  text-decoration: none;
}

.Delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Delete-btn button {
  font-size: 24px;
  border-radius: 8px;
  padding: 8px;
  border: none;
  background-color: red;
  font-weight: bold;
  margin-top: -20px;
  cursor: pointer;
}
